In [4]:
# 200227 07:15
# 데이터 퀄리티 높이기
# 데이터 클리닝
# 06. 데이터 클리닝: 정확성 3

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\hayong\Downloads\exam_outlier.csv', index_col=0)
df

,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
gender,,,,,,,
female,group B,bachelor's degree,standard,none,72,72,74
female,group C,some college,standard,completed,69,90,88
female,group B,master's degree,standard,none,90,95,93
male,group A,associate's degree,free/reduced,none,47,57,44
male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...
female,group E,master's degree,standard,completed,88,99,95
male,group C,high school,free/reduced,none,62,55,55
female,group C,high school,free/reduced,completed,59,71,65
female,group D,some college,standard,completed,68,78,77
female,group D,some college,free/reduced,none,77,86,86